LLM_BASE_URL=https://open.bigmodel.cn/api/coding/paas/v4
LLM_KEY=
LLM_MODEL=glm-5.3-flash

# https://api-docs.siliconflow.cn/docs/api/embeddings-post
EMBEDDING_BASE_URL=https://api.siliconflow.cn/v1/embeddings
EMBEDDING_KEY=
EMBEDDING_MODEL=BAAI/bge-m3
